@import "tailwindcss";

@font-face {
  font-family: "ArcadeClassic";
  src:
    local("ArcadeClassic"),
    url("/fonts/arcade.ttf") format("truetype");
}

.arcade-font {
  font-family: "ArcadeClassic";
}
